#container {
  width: 100vw;
  height: 100vh;
  background: url('../../images/signIn-image.jpg') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
 
}
#subContainer {
  width: 600px;
  height: 600px;
  background-color:#FAF9F6;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
 
}


#title {
  
  padding-bottom: 30px;
  font-size: 30px;
  color: #097969;
  display: flex;
  justify-content: center;


}

#inputContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 400px;
  
}

.inputNames {
  display: flex;
  align-self:flex-start;
  
}
#signupButton {
  width: 400px;
  height: 30px;
  border-radius: 10px;
  border: transparent;
  margin-top: 50px;
  background-color: #097969;
  color: white;
  margin-bottom: 20px;

}

#notification {
  color: red;
  font-size: 12px;
}

#signUpContainer {
    display: flex;
    justify-content: center;
}

#haveAccount {
  font-size: 15px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.signInandSignUp {
  border: transparent;
  color: #097969;
  background-color: transparent;
  margin-left: 10px;
  cursor: pointer;
  margin-bottom: 20px;
}

.inputs {
  width: 400px;
  height: 30px;
  border-radius: 10px;
  margin-bottom: 20px;
  border: 1px solid #097969;
 
}
